.todo-container {
  max-width: 30%;
  margin: auto;
}
.todoBtn {
  position: relative;
  bottom: 2.4rem;
  left: 100%;
}
.todo-table {
  display: flex;
  justify-content: center;
  /* flex-direction: row;
  align-items: center; */
}

.flex {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-; */
  /* gap: 11rem; */
  border-bottom: 1.5px solid black;
}
.desc {
  display: flex;
  /* justify-content: flex-start; */
}
